.moduleContainer {
  background-color: #eef0f2;
  color: #141414;
  font-family: 'Oswald', sans-serif;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

/* Phone styles above  */


@media screen and (min-width: 600px) {
  .moduleContainer {
    background-color: #EEF0F2f2;
    min-width: 400px;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.308) 0px 0px 100px 0px, rgba(255, 255, 255, 0.281) 0px 0px 0px 1px;
  }
}

@media screen and (min-width: 800px) {
  .moduleContainer {
    background-color: #EEF0F2f2;
    min-width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .moduleContainer {
    background-color: #EEF0F2f2;
    min-width: 600px;

  }
}