.moduleContainer {
  background-color: #eef0f2;
  color: #141414;
  font-family: 'Oswald', sans-serif;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

/* Phone styles above  */


@media screen and (min-width: 600px) {
  .moduleContainer {
    background-color: #eef0f2cc;
    height: 100%;
    background-color: #EEF0F2f2;
  }
}