.contactContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contactContainer input, .contactContainer textarea {
  border: none;
  font-family: sans-serif, Arial, Helvetica;
  padding-left: 15px;
  padding: 10px 0;
  margin: 15px 0;
  width: 100%;
}

/* .contactContainer textarea {
  border: none;
} */



/* Phone styles above  */
@media screen and (min-width: 600px) {
  .contactContainer {

  }
}