.contactContainer {

  /* display: grid; */
  /* position: absolute; */

  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; */
}

.contactContainer input, .contactContainer textarea {
  border: none;
  font-family: sans-serif, Arial, Helvetica;
}

/* .contactContainer textarea {
  border: none;
} */



/* Phone styles above  */
@media screen and (min-width: 600px) {
  .contactContainer {
    z-index: 2;
    grid-area: 2 / 2;
  }
}