.menu {
  z-index: 2;
  grid-template-rows: 1;
  display: flex;
  background-color: #FF8C42;
  color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuButton, .selected {
  background: transparent;
  border: none;
  color: #fefefe;
  font-weight: 700;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: .1em;
  cursor: pointer;
}

.menuButton:focus, .selected:focus {
  outline: none;
}

.menuButton:hover {
  background: #ffb07f;
  transition-duration: .2s;
}

.selected {
  background-color: #ff6200;
}

.menuButton:active {
  outline: none;
  transform: scale(.95);
  transition-duration: .1s;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}


@media screen and (min-width: 600px) {
  .menu{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 200px;
  }

  .menuButton, .selected {
    text-align: right;
    width: 100%;
    padding: 15px 0;
    padding-right: 15px;

  }
}

@media screen and (min-width: 1500px) {
  .menu{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .menuButton, .selected {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    padding-right: 0;

  }
}