.appContent {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.contentContainer {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  border: palegreen 5px solid;
}

.backgroundImage {
  grid-area: content;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Phone styles above  */
@media screen and (min-width: 600px) {
  .backgroundImage {
    width: 100%;
    height: auto;
    min-width: 750px;
    max-height: 1300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

