.appContent {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  min-width: 400px;
}

.contentImageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgContainer {
  height: auto;
  width: 100%;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Phone styles above  */

@media screen and (min-width: 600px) {

  .spacer {
    display: block;
    position: sticky;
  }

  .contentImageContainer {
    display: grid;
    min-height: 600px;
    position: relative;
    margin-bottom: 0px;
    grid-template-rows: 1fr 5fr 1fr;
    align-items: flex-start;
  }

  .imgContainer {
    max-height: 900px;
    width: 100%;
    z-index: 0;
    position: absolute;
    display: block;
  }

  .backgroundImage {
    width: 100%;
    max-height: 900px;
  }

  .contentContainer {
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 800px) {
  .contentImageContainer {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 900px) {
  .contentImageContainer {
    margin-bottom: 340px;
  }
}
