.footer {
  width: 100%;
  background-color: #fefefe;
  border: red 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 3;
}

.iconContainer {
  display: flex;
  list-style-type: none;
}