.footer {
  width: 100%;
  min-height: 150px;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}
