.header {
  height: 150px;
  font-family: 'Train One', sans-serif;
}

.title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  color: #141414;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}


/* Desktop below */

@media screen and (min-width: 600px) {

  .header {
    height: 200px;
  }

  .menu {
    /* grid-column: buttons; */
    display: flex;
  }

  .title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .title h1 {
    font-size: 125px;
  }
}